<div class="w-full flex flex-col gap-5 p-10">
  <!-- Breadcrumb -->
  <app-breadcrumb [path]="'Reportes'"></app-breadcrumb>
  <!-- Top -->
  <div class="flex gap-5">
    <!-- Bage -->
    <div class="bg-light rounded-xl w-full px-5 py-4">
      <div class="flex justify-between">
        <div>
          <h1 class="font-bold text-2xl">Reportes</h1>
          <p class="text-neutral-500 text-sm">Lista de reportes registrados en el sistema.</p>
        </div>
        <div class="flex items-center gap-2">
          <button (click)="onAdd()" type="button" class="bg-green-600 hover:bg-green-600/90 text-white px-6 py-2 font-semibold rounded-lg">
            <fa-icon [icon]="Add"></fa-icon> Nuevo
          </button>
        </div>
      </div>
    </div>
    <!-- User -->
    <app-user-logout></app-user-logout>
  </div>
  <!-- Table -->
  <app-table [tableConstructor]="tableConstructor" [data]="reportes()" [facultades]="facultades()"
    (onEdit)="onEdit($event)" (onDelete)="onDelete($event)"
  ></app-table>
</div>

@if (isReporteModalOpen()) {
  <app-reportes-modal
    [reporte]="selectedReporte()"
    (close)="isReporteModalOpen.set(false)"
  ></app-reportes-modal>
}

@if (isConfirmModalOpen()) {
  <app-confirm-modal
    [message]="{ section: 'Reporte', element: selectedReporte()?.report! }"
    (confirm)="confirmDelete()"
    (close)="isConfirmModalOpen.set(false)"
  ></app-confirm-modal>
}