<div class="w-full flex flex-col gap-5 p-5 md:p-10 duration-500">
  <!-- Breadcrumb -->
  <app-breadcrumb [path]="'Facultades'"></app-breadcrumb>
  <!-- Top -->
  <div class="flex gap-5">
    <!-- Bage -->
    <div class="bg-light rounded-xl w-full px-5 py-4">
      <div class="flex md:flex-row flex-col justify-between gap-2">
        <div>
          <h1 class="font-bold text-2xl">Facultades y Administrativos</h1>
          <p class="text-neutral-500 text-sm">Registro de oficinas oficinas por facultad o edificios administraivos en el sistema.</p>
        </div>
        @if (isAdmin()) {
          <div class="flex items-center gap-2">
            <button (click)="onAdd()" type="button" class="flex justify-center w-full gap-2 bg-green-600 hover:bg-green-600/90 text-white px-6 py-2 font-semibold rounded-lg">
              <fa-icon [icon]="Add"></fa-icon> Nuevo
            </button>
          </div>
        }
      </div>
    </div>
    <!-- User -->
    <div class="md:block hidden">
      <app-user-logout></app-user-logout>
    </div>
  </div>
  <!-- Counter -->
  <div class="text-neutral-500 text-sm -mb-3">
    Mostrando {{ facultades().length  }} elementos
  </div>
  <!-- Cards -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
    @for (facultad of facultades(); track $index) {
      <div class="bg-light rounded-xl p-5 flex gap-2 items-center">
        <div>
          <div class="bg-[#F1F1F1] flex items-center justify-center text-xl w-12 h-12 rounded-full">
            <fa-icon [icon]="Bulding"></fa-icon>
          </div>
        </div>
        <div class="w-full truncate">
          <p class="font-semibold">{{ facultad.name }}</p>
          <p class="text-sm text-neutral-600 -mt-1">Oficinas / Aulas: {{ facultad.offices.length }}</p>
        </div>
        <div class="flex gap-1">
          <button type="button" (click)="onShow(facultad)" class="bg-sky-500 hover:bg-sky-500/90 text-white w-fit px-2 py-1.5 rounded-full"><fa-icon [icon]="Show"></fa-icon></button>
          <button type="button" (click)="onEdit(facultad)" class="bg-amber-500 hover:bg-amber-500/90 text-white w-fit px-2 py-1.5 rounded-full"><fa-icon [icon]="Edit"></fa-icon></button>
          @if (isAdmin()) {
            <button type="button" (click)="onDelete(facultad)" class="bg-red-600 hover:bg-red-600/90 text-white w-fit px-2 py-1.5 rounded-full"><fa-icon [icon]="Delete"></fa-icon></button>
          }
        </div>
      </div>
    }
  </div>
</div>

@if (isFacultadModalOpen()) {
  <app-facultades-modal
    [facultad]="selectedFacultad()"
    (close)="isFacultadModalOpen.set(false)"
  ></app-facultades-modal>
}

@if (isShowModalOpen()) {
  <app-facultades-show
    [facultad]="selectedFacultad()!"
    (close)="isShowModalOpen.set(false)"
  ></app-facultades-show>
}

@if (isConfirmModalOpen()) {
  <app-confirm-modal
    [message]="{ section: 'Facultad', element: selectedFacultad()?.name! }"
    (confirm)="confirmDelete()"
    (close)="isConfirmModalOpen.set(false)"
  ></app-confirm-modal>
}